.btn-back-to-login {
  border-radius: 100px;
  border: 2px solid #E83389;
  background-color: transparent;
  color: #E83389;
  padding: 8px 24px;
  transition: all 0.3s ease;
}

.btn-back-to-login:hover {
  background-color: #E83389;
  color: white;
}

.btn-underline-animated {
  background: none;
  border: none;
  color: #9f3585; 
  font-size: 0.9rem;
  font-family: inherit;
  position: relative;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.btn-underline-animated::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px;
  background-color: #F564A9; 
  transition: width 0.3s ease;
}

.btn-underline-animated:hover::after {
  width: 100%; 
}

.btn-underline-animated:hover {
  color: #F564A9;
}
